.env
.env.*
!.env.example

node_modules/
**/node_modules/

.nuxt/
**/.nuxt/
.output/
**/.output/
dist/
**/dist/
target/
**/target/

.superpowers/
docs/superpowers/

*.log
.idea/
.vscode/
.DS_Store
Thumbs.db
